* {
	margin: 0;
	padding: 0;
    border:none;
}

header h2 span {
	color			: white;
	font			: bold 250% Helvetica, Sans-Serif;
	letter-spacing		: -1px;
	background		: rgba(0, 0, 0, 0.7);
	padding			: 10px;
    
}

header h3 span {
	color			: white;
	font			: bold 175% Helvetica, Sans-Serif;
	letter-spacing		: -1px;
	background		: rgba(0, 0, 0, 0.7);
	padding			: 10px;
    
}

header h2{
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
    color: black;
    width: 100%;
    opacity: 1;
    text-align: center;
    font-size: medium;
}

header h3{
    top: 60%;
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
    color: black;
    width: 100%;
    opacity: 1;
    text-align: center;
    font-size: x-small;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: azure;
}

.dropdown {
    display: none;
}

header ul{
    display: flex;
    list-style: none;
}

header ul li{
    margin-right: 1em;
}

header img {
    width: 100%;
}
.topic {
    text-align: center;
    text-decoration: dashed;
    
}

main section h1{
    text-align: center;
    font-family:'Courier New', Courier, monospace 
}

main section p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#map{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

#wrapper1 {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

#wrapper1 img{
    width:95%;
    margin-left: 11px;
    
}

#big{
    grid-column-end: span 3;
}

#big img{
    width: 98.35%;
}

.grid1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    border-image-width: 15%;
    text-align: center;
}

.grid1 img{
    width: 95%;
    margin: auto;
}

.grid2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    border-image-width: 15%;
    text-align: center;
}

.grid2 img{
    width: 95%;
    margin: auto;
}


.wrapper {
	position: relative;
	min-height: 100%;
}
.content {
	padding-bottom: 90px;
}
.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 20px;
    color: black;
}


.contacts{
    margin-top: 2%;
    text-align: center;
    color: white;
    background-color: black;
}

.top{
    color: orange;
    text-align: center;
    margin-bottom: 5px;
}

.dropdown {
    position: relative;
    display: none;
    right: 8px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    z-index:1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    background-color: black;
  }
  
  .dropdown span {
    transition: transform .5s;
  -webkit-transition: -webkit-transform .5s;
    display: block;
    transform: rotate(90deg);
  }
  
  .dropdown:hover span {
    transition: transform .5s;
  -webkit-transition: -webkit-transform .5s;
    display: inline-block;
    transform: rotate(180deg);
  }
  


@media (max-width: 800px) {
    header ul { display: none; }
    .dropdown {display: inline-block;}
  }